$radius: 20px;
$padding:12px;

form {
    display:block;
    text-align:center;
    margin-top: 170px;
   
    label {
        display:block;
        font-size: 50px;
        color: skyblue;
        margin-bottom:40px;
        
    }
    
    input[type=text]{
        outline: 0;
        border-radius: $radius;
        border-color: lightgray;
        border-style: solid;
        border-width: thin;
        font-size: 20px;
        width: 30vw;
        height: 40px;
        margin: 8px 20px 8px 0  ;
        padding-left: 25px;
       
    }
    
    div.submit{
        margin-left: auto;
        margin-right: auto;
    }
    div.lucky{
        display:block;
    }
    input[type=submit]{
        border:0;
        width:10vw;
        margin: 8px 10px;
        padding:$padding;
    }
}